1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+
6 

Ans : 
    Values :- 'hello', -87.8, 6
    expressions :- * , - , / , +

2. What is the difference between string and variable?
Ans: String is a data type which can hold one or more alphabets, alphnumerics or some special characters within single or double quotes. Whereas a variable is memory location which hold values of different data types like int, float, String , Boolean etc.

3. Describe three different data types.
Ans :
INTEGER : Positive or Negative whole numbers
FLOAT : Real Numbers with decimal point
COMPLEX NUMBER : Combination of real and imaginary parts
STRING : Collection of one or mor characters within single or double quotes
BOOLEAN : True or False

4. What is an expression made up of? What do all expressions do?
Ans : An expression is madeup operands and operators used to produce some values.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans : An expression is a combination of values, variables and operators which needs to be evaluated. Whereas a statment is an instruction that Python interpreter executes for e.g. While, For, If Else

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans : 22

In [1]:
bacon = 22
bacon + 1
print(bacon)

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
Ans : Both will give spamspamspam

In [3]:
print('spam' + 'spamspam')
print ('spam' * 3)

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?
Ans : Variable name in Python should start with letters(a-z/A-Z) or underscore (_). It can contain numbers but not at the begining.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans : int() used to get integer value
float() used to get floating-point number
str() used to get string value

In [9]:
int('9')

9

In [10]:
float(9)

9.0

In [11]:
str(9)

'9'

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans : Because string can not be concatenate with other datatype. TO fix this convert 99 to string.

In [12]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [13]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'